@use "@/styles/colors" as colors;

.button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.25;
  padding: 1em 2em;
  background-color: colors.$button-background;
  border-radius: 6em;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.15s;
  &:hover {
    color: colors.$button-text;
    background-color: transparent;
    border: 1px solid colors.$button-border;
  }
}
