//// COLORS

//global
$error: #e74c3c;
// website background
$background: #1d1d1d;
// texts
$text: #fabf59;
$text-dark: #2e271b;
$text-credits: #6c6161;
// links
$link: #f3e2c5;
$link-hover: #f5b15f;
$link-active: #f4d500;

// logo
$logo: $text;
$logo-hover: #f3daae;
// buttons
$button-background: #f9b50c;
$button-text: $button-background;
$button-border: $button-background;
