// Colors

$background: #1d1d1d;
$text: #fabf59;
$text-credits: #6c6161;
$link: #f3e2c5;
$link-hover: #f5b15f;
$error: #e74c3c;
$logo: $text;
$logo-hover: #f3daae;
$button-background: #f9b50c;
$button-text: $button-background;
$button-border: $button-background;
$logo: $text;
$logo-hover: #f3daae;
