@use "breakpoints";
@use "colors";
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

:root {
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rye", Arial, sans-serif;
  color: colors.$text;
  margin: 0;
  padding: 0;
  background-color: colors.$background;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  color: colors.$link;
  text-decoration: none;
}
a:hover {
  color: colors.$link-hover;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
