.books {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.book {
  display: flex;
  align-items: flex-start;
  gap: 2em;
  &__image {
    max-width: 20em;
    width: 100%;
    height: auto;
  }
  &__details {
    flex: 1;
  }
}
