@use "@/styles/colors" as colors;

a.logo {
  white-space: nowrap;
  text-align: center;
  color: colors.$logo;
  text-decoration: none;
  position: relative;
  display: inline-block;
  background: linear-gradient(
    to right,
    colors.$logo 50%,
    colors.$logo-hover 50%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.2s ease-in-out;
  font-size: 3em;
  &:hover {
    background-position: -100% 0;
  }
}
