.header {
  padding: 1em 3em;
  border-bottom: 1px solid;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.nav__links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 4em;
}
