@use "@/styles/breakpoints" as breakpoints;
@use "@/styles/colors" as colors;

.header {
  padding: 1.5em 1.5em 0.5em 1.5em;
  outline: 0.1em rgb(199, 211, 147) solid;
  @media (min-width: breakpoints.$desktop) {
    padding: 1em 3em;
  }
  &__content {
    display: grid;
    grid-template-areas:
      "logo language"
      "nav nav";
    align-items: center;
    @media (min-width: breakpoints.$desktop) {
      grid-template-areas: "logo nav language";
    }
  }
}

.nav {
  grid-area: nav;
  justify-self: stretch;
  border-top: 1px solid;
  border-bottom: 1px solid;
  @media (min-width: breakpoints.$desktop) {
    justify-self: center;
    border: none;
  }
  &__list {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    @media (min-width: breakpoints.$desktop) {
      gap: 4em;
    }
    &__item {
      padding: 0.5em;
      flex-basis: 25%;
      text-align: center;
      background-color: transparent;
      & > a {
        display: block;
      }
      &:has([aria-current="page"]) {
        background-color: colors.$link-hover;
        & > a {
          color: colors.$text-dark;
        }
      }
      @media (min-width: breakpoints.$desktop) {
        flex-basis: initial;
        padding: 0.25em;
      }
    }
  }
}
