@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

:root {
  /* colors */
  --color-background: #1d1d1d;
  --color-text: #fabf59;
  --color-text-developer: #6c6161;
  --color-link: #f3e2c5;
  --color-link-hover: #f5b15f;
  --color-error: #e74c3c;
  --color-logo: var(--color-text);
  --color-logo-hover: #f3daae;
  --color-button-background: #f9b50c;
  --color-button-border: var(--color-button-background);
}
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rye", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}
