@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

:root {
  /* colors */
  --color-background: #1d1d1d;
  --color-text: #fabf59;
  --color-text-developer: #6c6161;
  --color-link: #f3e2c5;
  --color-link-hover: #f5b15f;
  --color-error: #e74c3c;
  --color-logo: var(--color-text);
  --color-logo-hover: #f3daae;
  --color-button-background: #f9b50c;
  --color-button-border: var(--color-button-background);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rye", Arial, sans-serif;
  color: var(--color-text);
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  object-fit: cover;
}

a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-link-hover);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
