@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

:root {
  margin: 0 auto;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rye", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}
